.storybook-button {
  display: inline-block;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  cursor: pointer;

  &--primary {
    background-color: #1ea7fd;
    color: white;

    &:hover {
      background-color: #00b7ff;
    }

    &:active {
      background-color: #1e86fd;
    }
  }

  &--secondary {
    background-color: transparent;
    color: #333;
    box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  }

  &--small {
    padding: 10px 16px;
    font-size: 12px;
  }

  &--medium {
    padding: 11px 20px;
    font-size: 14px;
  }

  &--large {
    padding: 12px 24px;
    font-size: 16px;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
