name: ci

on:
  workflow_call:
    inputs:
      ref:
        type: string
      ref_name:
        type: string
      base_ref:
        type: string
      head_ref:
        type: string
      diff_count:
        type: string
  workflow_dispatch:
    inputs:
      base_ref:
        type: string
        description: The base ref to compare against for changes.
      head_ref:
        type: string
        description: The head ref to compare changes against for changes. If specified, it overrides the base_ref.
      diff_count:
        type: string
        description: The number of commits to consider for the diff.

concurrency:
  group: ${{ github.workflow }}-${{ inputs.ref_name || github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      TURBO_VERBOSITY: ${{ vars.TURBO_VERBOSITY || 0 }}
      TURBO_ENV_MODE: ${{ vars.TURBO_ENV_MODE || 'strict' }}
      TURBO_TELEMETRY_DISABLED: 1
      YARN_ENABLE_HARDENED_MODE: 0
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ inputs.ref_name || github.ref }}
      - name: Set Yarn global folder
        env:
          YARN_GLOBAL_FOLDER: ${{ runner.temp }}/.yarn/berry
        run: echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
        shell: bash
      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: yarn
          cache-dependency-path: ./yarn.lock
      - name: Start Turbo Cache Server
        uses: rharkor/caching-for-turbo@a1c4079258ae08389be75b57d4d7a70f23c1c66d # v1.8
        with:
          cache-prefix: ${{ vars.TURBO_CACHE_PREFIX }}
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn turbo run //#lint --env-mode=${{ env.TURBO_ENV_MODE }} --verbosity=${{ env.TURBO_VERBOSITY }}

  diff:
    name: List Updated Packages
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      BASE_REF: ${{ inputs.base_ref || github.base_ref }}
      TURBO_GLOBAL_WARNING_DISABLED: 1
    outputs:
      package_names: ${{ steps.changes.outputs.package_names }}
      release: ${{ steps.filter.outputs.release }}
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: ${{ inputs.diff_count || 2 }}
          ref: ${{ inputs.ref_name || github.ref }}
      - name: Fetch base branch
        if: env.BASE_REF != ''
        run: git fetch --depth=1 origin ${{ env.BASE_REF }}:base_branch
      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: npm
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            release:
              - '.yarn/versions/**'
          base: ${{ inputs.head_ref || (env.BASE_REF && 'base_branch') || '' }}
          ref: ${{ inputs.ref_name }}
          initial-fetch-depth: ${{ inputs.diff_count || 2 }}
      - name: Install Turbo
        run: |
          TURBO_VERSION=$(jq -r .devDependencies.turbo package.json)
          echo "Installing $TURBO_VERSION"
          npm install -g turbo@$TURBO_VERSION
          turbo bin
          turbo --version
      - name: Start Turbo Cache Server
        uses: rharkor/caching-for-turbo@a1c4079258ae08389be75b57d4d7a70f23c1c66d # v1.8
        with:
          cache-prefix: ${{ vars.TURBO_CACHE_PREFIX }}
      - name: Collect Turborepo Changes
        id: changes
        uses: 94726/action-turborepo-changes@6bb75425be5455ba39431196f12e246a2f37d375 # v1.1.1
        env:
          TURBO_TELEMETRY_DISABLED: 1
        with:
          from: ${{ inputs.head_ref || (env.BASE_REF && 'base_branch') || 'HEAD~1' }}

  apps:
    needs: diff
    uses: ./.github/workflows/apps.yml
    secrets: inherit
    with:
      ref_name: ${{ inputs.ref_name }}
      base_ref: ${{ inputs.base_ref || github.base_ref }}
      package_names: ${{ needs.diff.outputs.package_names }}

  packages:
    needs: diff
    uses: ./.github/workflows/packages.yml
    secrets: inherit
    with:
      ref: ${{ inputs.ref }}
      ref_name: ${{ inputs.ref_name }}
      package_names: ${{ needs.diff.outputs.package_names }}

  release:
    needs: [diff, test, apps, packages]
    if: always() && !contains(needs.*.result, 'cancelled') && !contains(needs.*.result, 'failure') && contains(needs.*.outputs.release, 'true')
    uses: ./.github/workflows/release.yml
    secrets: inherit
    with:
      ref_name: ${{ inputs.ref_name }}
      head_ref: ${{ inputs.head_ref }}
