name: Renovate
on:
  workflow_dispatch:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0/10 * * * *' # Every 10 minutes

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        with:
          concurrent_skipping: always
          skip_after_successful_duplicate: false
          do_not_skip: '[]'
  renovate:
    needs: check
    if: needs.check.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    env:
      DOCKER_USER: root
      DOCKER_USER_HOME: /home/ubuntu
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          app-id: ${{ secrets.BOT_APP_ID }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set Yarn global folder
        id: yarn_global_folder
        env:
          YARN_GLOBAL_FOLDER: ${{ runner.temp }}/.yarn/berry
        run: |
          echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
          echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> $GITHUB_OUTPUT
        shell: bash
      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: yarn
          cache-dependency-path: ./yarn.lock
      - name: Start Turbo Cache Server
        uses: rharkor/caching-for-turbo@a1c4079258ae08389be75b57d4d7a70f23c1c66d # v1.8
        with:
          cache-prefix: ${{ vars.TURBO_CACHE_PREFIX }}
      - name: Install dependencies
        run: yarn install
      - name: List Workspaces
        id: list_workspaces
        run: |
          echo "nm-workspaces=$(yarn ls-workspaces --node-linker=pnpm --node-linker=node-modules)" >> $GITHUB_OUTPUT
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@3c68caaa9db5ff24332596591dc7c4fed8de16ce # v46.0.1
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_POST_UPGRADE_WORKSPACES: ${{ steps.list_workspaces.outputs.nm-workspaces }}
          RENOVATE_BASE_DIR: ${{ env.DOCKER_USER_HOME }}
          RENOVATE_IGNORE_PR_AUTHOR: ${{ vars.RENOVATE_IGNORE_PR_AUTHOR }}
          RENOVATE_INTERNAL_CHECKS_FILTER: ${{ vars.RENOVATE_INTERNAL_CHECKS_FILTER }}
          LOG_LEVEL: debug
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        with:
          configurationFile: renovate.config.js
          token: ${{ steps.get_token.outputs.token }}
          docker-user: ${{ env.DOCKER_USER }}
          docker-volumes: |
            ${{ steps.yarn_global_folder.outputs.YARN_GLOBAL_FOLDER }}:${{ env.DOCKER_USER_HOME }}/.yarn/berry
          env-regex: "^(?:(RENOVATE_|YARN_)\\w+|LOG_LEVEL)$"
