name: Renovate
on:
  workflow_dispatch:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0/10 * * * *' # Every 10 minutes

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      DOCKER_USER: root
      DOCKER_USER_HOME: /home/ubuntu
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          app-id: ${{ secrets.BOT_APP_ID }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set Yarn global folder
        id: yarn_global_folder
        env:
          YARN_GLOBAL_FOLDER: ${{ runner.temp }}/.yarn/berry
        run: |
          echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
          echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> $GITHUB_OUTPUT
        shell: bash
      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/Hydrogen
          cache: yarn
          cache-dependency-path: ./yarn.lock
      - name: Start Turbo Cache Server
        uses: rharkor/caching-for-turbo@a1c4079258ae08389be75b57d4d7a70f23c1c66d # v1.8
        with:
          cache-prefix: ${{ vars.TURBO_CACHE_PREFIX }}
      - name: Install dependencies
        run: yarn install
      - name: List Workspaces
        id: list_workspaces
        run: |
          echo "nm-workspaces=$(yarn ls-workspaces --node-linker=pnpm --node-linker=node-modules)" >> $GITHUB_OUTPUT
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_POST_UPGRADE_WORKSPACES: ${{ steps.list_workspaces.outputs.nm-workspaces }}
          RENOVATE_BASE_DIR: ${{ env.DOCKER_USER_HOME }}
          RENOVATE_IGNORE_PR_AUTHOR: ${{ vars.RENOVATE_IGNORE_PR_AUTHOR }}
          LOG_LEVEL: debug
        with:
          configurationFile: renovate.config.cjs
          token: ${{ steps.get_token.outputs.token }}
          docker-user: ${{ env.DOCKER_USER }}
          docker-volumes: |
            ${{ steps.yarn_global_folder.outputs.YARN_GLOBAL_FOLDER }}:${{ env.DOCKER_USER_HOME }}/.yarn/berry
